html, body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: #000;
    display: flex;
    height: 10%;
    min-height: 55px;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.header-group {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.header-right {
    flex-grow: 0;
    flex-shrink: 0;
}
.brand {
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    height: 100%;
    vertical-align: middle;
}

footer {
    background: black;
    display: flex;
    height: 10%;
    min-height: 45px;
}
.container {
    background-color: #353535;
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background: rgba(248, 200, 200, 0.1);
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

.hero-grid-header {
    background: #393b36;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    /*max-width: 1050px;*/

}
.str-header {
    background: #bd0000;
}

.agi-header {
    background: #00aa00;
}

.int-header {
    background: #0000bd;
}
.hero-grid-header > h3 {
    text-transform: uppercase;
    width: 100%;
    font-family: sans-serif;
    color: #FFF;
    text-shadow: black;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 130px;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px;
    align-items: center;

}

.hero-img {
    display: block;
    width: 130px;
    height: 100px;
    border: none;
}
.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: inherit;
    height: inherit;
    align-content: center;
}
.hero-name {
    margin-top: 5px;
    color: #FFFFFF;
}

.seperator {
    width: 80%;
    height: 30px;
    max-width: 1050px;
}